.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}
.nav {
  display: none;
}

.header-wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu-btn {
  border: none;
  background: none;
  margin-left: auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-logo {
  color: #000;
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-wrapper-inner {
    height: 80px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
  .nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
         -o-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .nav__link:hover::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .nav__link--current {
    color: #2196f3;
  }
  .nav__link--current::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .mobile-menu-btn {
    display: none;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: inherit;
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
         -o-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
  .contacts__icon {
    margin-right: 8px;
    fill: currentColor;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrapper-inner {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .logo {
    font-size: 26px;
    line-height: 1.16;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 93px;
  }
  .nav__link {
    font-size: 14px;
  }
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
  }
  .contacts__link {
    font-size: 14px;
  }
}
.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}

.hero__btn {
  margin-top: 30px;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-hero {
  width: 100%;
  max-width: 1600px;
  height: calc(100vh - 60px);
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-position: center;
  background-size: cover;
  background-image: -o-linear-gradient(left rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4), url(../images/bg-hero-section/hero-bg-480-400.jpg);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero-section/hero-bg-480-400.jpg);
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-480-400.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-480-400.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-hero {
    background-image: -o-linear-gradient(left rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4), url(../images/bg-hero-section/hero-bg-480-400@2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero-section/hero-bg-480-400@2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-480-400@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-480-400@2x.jpg);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (-o-min-device-pixel-ratio: 3/1), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .section-hero {
    background-image: -o-linear-gradient(left rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4), url(../images/bg-hero-section/hero-bg-480-400@3x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero-section/hero-bg-480-400@3x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-480-400@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-480-400@3x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    height: calc(100vh - 80px);
    background-image: -o-linear-gradient(left rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4), url(../images/bg-hero-section/hero-bg-768-400.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero-section/hero-bg-768-400.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-768-400.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-768-400.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -o-linear-gradient(left rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4), url(../images/bg-hero-section/hero-bg-768-400@2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero-section/hero-bg-768-400@2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-768-400@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-768-400@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-device-pixel-ratio: 2) and (min-resolution: 3dppx), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 288dpi), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 3dppx), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1) and (min-resolution: 288dpi), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1) and (min-resolution: 3dppx), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 192dpi) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 192dpi) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 192dpi) and (min-resolution: 3dppx), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 2dppx) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 2dppx) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  .hero-section {
    background-image: -o-linear-gradient(left rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4), url(../images/bg-hero-section/hero-bg-768-400@3x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero-section/hero-bg-768-400@3x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-768-400@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-768-400@3x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
  .hero-section {
    background-image: -o-linear-gradient(left rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4), url(../images/bg-hero-section/hero-bg-1600-600.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero-section/hero-bg-1600-600.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-1600-600.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-1600-600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: -o-linear-gradient(left rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4), url(../images/bg-hero-section/hero-bg-1600-600@2x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero-section/hero-bg-1600-600@2x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-1600-600@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-1600-600@2x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2) and (min-resolution: 3dppx), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 3dppx), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1) and (min-resolution: 3dppx), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 192dpi) and (min-resolution: 3dppx), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (-o-min-device-pixel-ratio: 3/1), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) and (min-resolution: 3dppx) {
  .hero-section {
    background-image: -o-linear-gradient(left rgba(47, 48, 58, 0.4)), rgba(47, 48, 58, 0.4), url(../images/bg-hero-section/hero-bg-1600-600@3x.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-hero-section/hero-bg-1600-600@3x.jpg);
    background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-1600-600@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero-section/hero-bg-1600-600@3x.jpg);
  }
}
.mobile-menu-close, .modal__btn-close, .filter__btn, .hero__btn,
.form-subscribe__btn,
.modal-form__btn-send {
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.hero__btn,
.form-subscribe__btn,
.modal-form__btn-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover,
.form-subscribe__btn:hover,
.modal-form__btn-send:hover, .hero__btn:focus,
.form-subscribe__btn:focus,
.modal-form__btn-send:focus {
  background-color: #a2c0da;
}

.hero__btn,
.form-subscribe__btn,
.modal-form__btn-send {
  width: 200px;
  height: 50px;
}

@media screen and (min-width: 1200px) {
  .hero__btn {
    width: 216px;
  }
}

.form-subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-subscribe__btn--icon {
  margin-left: 10px;
  fill: currentColor;
}

.filter__btn {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  -o-transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__btn:hover, .filter__btn:focus {
  color: #fff;
  background-color: #2196f3;
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12);
}

.modal__btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  color: #2196f3;
}
.modal__btn-close-icon {
  fill: currentColor;
}

.mobile-menu-close {
  width: 40px;
  height: 40px;
  background-color: #fff;
}
.mobile-menu-close:hover, .mobile-menu-close:focus {
  color: #2196f3;
}
.mobile-menu-close-icon {
  fill: currentColor;
}

.feauters__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.feauters__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.feauters__sub-title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feauters__sub-title {
    text-align: start;
  }
}
.feauters__description {
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.71;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feauters__description {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .feauters__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feauters__item {
    width: calc(50% - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .feauters__item {
    width: calc(25% - 22.5px);
  }
}
.section-activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-activity {
    display: block;
  }
  .activity__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .activity__item {
    position: relative;
    width: calc(33.333% - 20px);
  }
  .activity__sub-title {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
.section {
  padding: 60px 0;
}
.section-team {
  background-color: #f5f4fa;
}
.section-footer {
  background-color: #2f303a;
}
.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .section-feauters {
    padding-bottom: 0;
  }
  .section-footer {
    padding: 60px 0;
  }
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.socials__icon {
  fill: currentColor;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__item {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-meta {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team {
    width: 760px;
  }
  .team__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__item {
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1200px) {
  .team {
    width: 1200px;
  }
  .team__item {
    width: calc(25% - 22.5px);
  }
  .team-meta {
    padding-bottom: 30px;
  }
  .team-meta__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #212121;
  }
  .team-meta__description {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
  }
  .socials {
    margin-top: 16px;
  }
  .socials__link {
    color: #afb1b8;
    -webkit-transition-property: color, background-color;
    -o-transition-property: color, background-color;
    transition-property: color, background-color;
    -webkit-transition-duration: 250ms;
         -o-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socials__link:hover, .socials__link:focus {
    color: #fff;
    background-color: #2196f3;
  }
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.customers__item {
  width: calc(50% - 15px);
}
.customers__icon {
  fill: currentColor;
}
.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: color, border;
  -o-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 768px) {
  .customers__item {
    width: calc(33.33% - 20px);
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: calc((100% - 150px) / 6);
  }
}
.footer {
  text-align: center;
}

.footer-logo {
  color: #fff;
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}
.footer-address__item:not(:last-child) {
  margin-top: 8px;
}
.footer-address__link {
  line-height: 1.71;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: #2196f3;
}
.footer-address__link-location {
  color: #fff;
}
.footer-address__link-mail, .footer-address__link-tel {
  color: rgba(255, 255, 255, 0.6);
}

.join-wrapper,
.form-subscribe {
  margin-top: 60px;
}

.join__title,
.form-subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}

.form-subscribe__input {
  width: 100%;
  padding: 14px 0 14px 15px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.form-subscribe__btn {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-subscribe__btn-icon {
  margin-left: 10px;
  fill: currentColor;
}

.footer-socials {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.socials__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-address {
    width: 232px;
  }
  .join {
    margin-top: 0;
    margin-left: 165px;
  }
  .form-subscribe__input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
  .footer-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer-address {
    width: 231px;
  }
  .footer-address__item:not(:first-child) {
    margin-top: 9px;
  }
  .join {
    margin-left: 70px;
  }
  .form-subscribe {
    margin-top: 0;
    margin-left: auto;
  }
  .form-subscribe__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-subscribe__input {
    width: 358px;
  }
  .form-subscribe__btn {
    margin-top: 0;
    margin-left: 12px;
  }
  .socials__list {
    width: 206px;
    margin-left: auto;
    margin-right: auto;
  }
  .socials__link {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 250ms;
         -o-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
         -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socials__link:hover, .socials__link:focus {
    background-color: #2196f3;
  }
}
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 50px;
}

.projects__item {
  width: 100%;
}
.projects__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  -o-transition-property: box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.projects__img {
  position: relative;
  overflow: hidden;
}
.projects__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 77px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
      -ms-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 23px 19px 23px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.projects__description {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .projects-wrapper {
    max-width: 450px;
  }
  .filter {
    max-width: 326px;
  }
  .projects__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .projects__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 354px;
  }
  .projects__overlay {
    padding-top: 49px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects-wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
  .projects__item {
    width: 370px;
  }
  .projects__overlay {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}
.mobile-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  -o-transition-property: transform, background-color;
  transition-property: transform, background-color;
  transition-property: transform, background-color, -webkit-transform;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-container .mobile-menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.showMenu {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  color: #fff;
}

.mobile-menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100%;
  height: 100%;
}
.mobile-menu-wrapper .mobile-menu {
  margin-bottom: auto;
}
.mobile-menu-wrapper .mobile-menu__link {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu-wrapper .mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-wrapper .mobile-menu__link {
  font-size: 40px;
  color: #212121;
}
.mobile-menu-wrapper .mobile-menu__link:hover, .mobile-menu-wrapper .mobile-menu__link:focus {
  color: #2196f3;
}
.mobile-menu-wrapper .mobile-menu__link-current {
  font-size: 40px;
  color: #2196f3;
}
.mobile-menu-wrapper .contacts__item-mob-menu:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu-wrapper .contacts .mobile-menu-tel {
  font-size: 32px;
}
.mobile-menu-wrapper .contacts .mobile-menu-mail {
  font-size: 24px;
}
.mobile-menu-wrapper .social-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  max-width: 768px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mobile-menu-wrapper .social-contacts__item:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-right: 20px;
}
.mobile-menu-wrapper .social-contacts__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  max-height: 22px;
  margin: 0 10px;
  background-color: rgba(33, 33, 33, 0.2);
  right: -20px;
}
@media screen and (max-width: 480px) {
  .mobile-menu-wrapper .social-contacts__item:not(:last-child)::after {
    margin: 0 2vw;
    height: 4.6vh;
  }
}
.mobile-menu-wrapper .social-contacts__link {
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .mobile-menu-tel {
    font-size: 7vh;
  }
  .mobile-menu-mail {
    font-size: 5vh;
  }
  .social-contacts__link {
    font-size: 3.75vh;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.6);
      -ms-transform: translate(-50%, -50%) scale(0.6);
          transform: translate(-50%, -50%) scale(0.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98%;
  max-width: 450px;
  height: 100%;
  max-height: 609px;
  overflow: scroll;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
      -ms-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 479px) {
  .modal {
    padding-inline: 8.3vw;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}
.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal-form__label {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input-wrapper {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
  width: 100%;
}

.modal-form__input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  font-size: 16px;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  -o-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.modal-form__input:hover + .modal-form__input-icon, .modal-form__input:focus + .modal-form__input-icon {
  fill: #2196f3;
}

.modal-form__input-icon {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 12px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition-property: fill;
  -o-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input-icon:hover, .modal-form__input-icon:focus {
  fill: #2196f3;
}

.modal-form__input-comment {
  display: block;
  min-height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #000;
}
.modal-form__input-comment::-webkit-input-placeholder {
  color: rgba(87, 87, 87, 0.5);
}
.modal-form__input-comment::-moz-placeholder {
  color: rgba(87, 87, 87, 0.5);
}
.modal-form__input-comment:-ms-input-placeholder {
  color: rgba(87, 87, 87, 0.5);
}
.modal-form__input-comment::-ms-input-placeholder {
  color: rgba(87, 87, 87, 0.5);
}
.modal-form__input-comment::placeholder {
  color: rgba(87, 87, 87, 0.5);
}
@media screen and (min-width: 1200px) {
  .modal-form__input-comment {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal-form__label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-left: 7px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  cursor: pointer;
}
@media screen and (max-width: 440px) {
  .modal-form__label-checkbox {
    max-width: 270px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 479px) {
  .modal-form__label-checkbox {
    margin-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form__label-checkbox {
    margin-bottom: 31px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__input-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}
.modal-form__input-checkbox:hover + .modal-form__checkbox-icon, .modal-form__input-checkbox:focus + .modal-form__checkbox-icon {
  border: 2px solid #2196f3;
}
.modal-form__input-checkbox:checked + .modal-form__checkbox-icon {
  fill: #fff;
  border-width: 0;
  background-color: #2196f3;
}

.modal-form__checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-100%, -50%);
      -ms-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  fill: transparent;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition-property: border, background-color, border-width;
  -o-transition-property: border, background-color, border-width;
  transition-property: border, background-color, border-width;
  -webkit-transition-duration: 250ms;
       -o-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__link-agreement {
  color: #2196f3;
}

.modal-form__btn-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */