.nav {
    display: none;
}

.header-wrapper-inner {
    display: flex;
    align-items: center;
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-menu-btn {
    border: none;
    background: none;
    margin-left: auto;
}

.logo {
    font-family: $font-logo;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $color-site-accent;
}

.header-logo {
    color: $color-site-dark;
}

.contacts {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-wrapper-inner {
        height: 80px;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    .nav {
        display: flex;
        align-items: center;
        margin-left: 88px;

        &__list {
            display: flex;
            gap: 50px;
        }

        &__link {
            position: relative;
            display: block;
            padding-top: 32px;
            padding-bottom: 31px;
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: $color-text-title;

            @include customTransition(color);

            &:hover,
            &:focus {
                color: $color-site-accent;
            }

            &:hover::after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 4px;
                left: 0;
                bottom: -1px;
                background-color: $color-site-accent;
                border-radius: 2px;
            }

            &--current {
                color: $color-site-accent;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    left: 0;
                    bottom: -1px;
                    background-color: $color-site-accent;
                    border-radius: 2px;
                }
            }
        }
    }

    .mobile-menu-btn {
        display: none;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: auto;

        &__link {
            display: flex;
            align-items: center;
          
            font-weight: 500;
            font-size: 12px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: inherit;
          
            @include customTransition(color);
          
            &:hover,
            &:focus {
              color: $color-site-accent;
            }
        }

        &__icon {
            margin-right: 8px;
            fill: currentColor;
        }
    }
}

@media screen and (min-width: 1200px) {
    .header-wrapper-inner {
        padding-top: 24px;
        padding-bottom: 25px;
    }

    .logo {
        font-size: 26px;
        line-height: 1.16;
    }

    .nav {
        display: flex;
        justify-content: flex-start;
        margin-left: 93px;

        &__link {
            font-size: 14px;
        }
    }

    .contacts {
        flex-direction: row;
        gap: 30px;

        &__link {
            font-size: 14px;
        }
    }
}