.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
    }

    &__icon {
        fill: currentColor;
    }
}