body {
    //----------------- Основний шрифт ----------------- /
  
    font-family: $font-main;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $color-text-main;
  
    //------------------ Основниий фон ----------------- /
  
    background-color: $color-bg-primary;
  }
  
  // ----- Перевизначення для окремих селекторів ------- /
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }