// ---------- Кольори сайту ---------- /

// --color-logo-header
// --color-modal-btn - btn close modal
// --color-modal-input - input text
$color-site-dark: #000;

// --color-logo-footer
$color-site-light: #fff;

// --color-accent
// --color-button-hero-background
$color-site-accent: #2196f3;

// --color-background-primary
$color-bg-primary: #fff;

// --color-background-secondary
// --color-button-filter-background
$color-bg-secondary: #f5f4fa;

// --color-background-footer
$color-bg-footer: #2f303a;

// --color-hero-background
$color-bg-hero: #c4c4c4;

// --color-text-main
$color-text-main: #757575;

// --color-text-secondary
// --color-button-hero-text
// --color-button-filter-text-focus
$color-text-secondary: #fff;

// --color-text-title
// --color-button-filter-text
$color-text-title: #212121;

// --color-text-contacts
$color-text-contacts: rgba(255, 255, 255, 0.6);

// --color-icon
$color-icon: #afb1b8;

// ---------- Шрифти сайту ---------- /

//   --font-main: 'Roboto', sans-serif;
//   --font-logo: 'Raleway', sans-serif;
$font-main: 'Roboto', sans-serif;
$font-logo: 'Raleway', sans-serif;